<ion-content>
  <div class="container">
    <div class="description">
      <h2>Sveiki atvykę į TaskAide</h2>
      <p>TaskAide - tai aplikacija, skirta užsakyti namų paslaugas.</p>
      <p>Pasirinkite, ar norite prisijungti kaip vartotojas arba paslaugų teikėjas:</p>
    </div>

    <div class="buttons">
      <ion-button routerLink="/login" color="primary" expand="block">Prisijungti</ion-button>
      <ion-button routerLink="/register" color="secondary" expand="block">Registruotis</ion-button>
      <ion-button routerLink="/register-provider" color="tertiary" expand="block">Registruotis kaip paslaugų teikėjas</ion-button>
      <ion-button routerLink="/register-company" color="tertiary" expand="block">Registruotis kaip įmonė</ion-button>
    </div>
  </div>
</ion-content>