<ion-header>
  <ion-toolbar>
    <ion-title>
      <ng-container *ngIf="!provider.companyName; else company">
        {{ provider.firstName }} {{ provider.lastName }}
      </ng-container>
      <ng-template #company>
        {{provider.companyName}}
      </ng-template>
      <div class="rating-and-review-count" *ngIf="provider.reviewCount > 0">
        <div class="rating">
          <ion-icon name="star" [style.color]="'#ffd700'"></ion-icon>
          {{provider.rating}}/5
          <ion-icon name="person"></ion-icon>
          {{provider.reviewCount}}
          <ion-icon name="chatbox-ellipses"></ion-icon>
          {{provider.reviewCommentsCount}}
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Aprašymas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ provider.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="provider.reviews && provider.reviews.length > 0">
    <ion-card-header>
      <ion-card-title>Atsiliepimai</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let review of provider.reviews">
          <ion-item  *ngIf="review.comment">
            <ion-avatar slot="start">
              <ion-icon name="person-circle" size="large"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-icon name="star" [style.color]="'#ffd700'" *ngFor="let i of [].constructor(review.rating)"></ion-icon>
              </h3>
              <p *ngIf="review.comment">{{ review.comment }}</p>
            </ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>