<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kategorijos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-start ion-align-items-center">
      <ion-col sizeSm="6" sizeMd="6" sizeLg="4" sizeXl="3" *ngFor="let category of categories">
        <app-category class="ion-justify-content-center" [category]="category"></app-category>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
