<ion-list class="booking-form" lines="none">
  <ion-item>
    <ion-label position="stacked">Vieta</ion-label>
    <app-location-input (location)="setAddress($event)"></app-location-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Įveskite norimą pradžios datą</ion-label>
    <ion-datetime presentation="date" locale="lt-LT" min={{minStartDate}} max={{maxStartDate}}
      displayFormat="MMM D, YYYY" [(ngModel)]="additionalInfo.startDate" (ionChange)="onStartDateChange()">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Įveskite norimą pabaigos datą</ion-label>
    <ion-datetime presentation="date" locale="lt-LT" min={{minEndDate}} max={{maxEndDate}} displayFormat="MMM D, YYYY"
      [(ngModel)]="additionalInfo.endDate" (ionChange)="onEndDateChange()"> </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Papildoma informacija</ion-label>
    <ion-textarea rows="6" [(ngModel)]="additionalInfo.additionalInformation"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nuotraukos</ion-label>
    <ion-input type="file" accept="image/*" (change)="onPictureSelect($event)" multiple></ion-input>
  </ion-item>
</ion-list>
<ion-button expand="block" (click)="collectAditionalInfo()">Toliau</ion-button>