<ion-content>
  <div class="flex-center">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <h1>TaskAide</h1>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col sizeLg="5" sizeMd="8">
          <ion-card>
            <ion-card-content>
              <form (ngSubmit)="logInWithCredentials()" novalidate>
                <ion-item>
                  <ion-label position="floating">El. paštas</ion-label>
                  <ion-input [(ngModel)]="login.email" name="email" type="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Slaptažodis</ion-label>
                  <ion-input [(ngModel)]="login.password" name="password" type="password"></ion-input>
                </ion-item>
                <ion-row class="ion-margin-vertical">
                  <ion-col sizeLg="6">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col sizeLg="6">
                    <ion-button type="submit" color="primary" size="full">Prisijungti</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="error" class="ion-justify-content-center error">
                  <ion-col sizeLg="6" class="ion-text-center">
                    <div>Nepavyko prisijungti</div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col sizeLg="6">
                    <ion-button  [routerLink]="['/register']" color="primarry" fill="clear" size="full">Registruotis</ion-button>
                  </ion-col>
                </ion-row>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>