<ion-content>
  <div class="flex-center">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <h1>TaskAide</h1>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col sizeLg="5" sizeMd="8">
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Vardas</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Pavardė</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">El. paštas</ion-label>
                <ion-input type="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Tel. numeris</ion-label>
                <ion-input type="tel"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Slaptažodis</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Pakartoti slaptažodį</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
              <ion-row class="ion-justify-content-center">
                <ion-col sizeLg="6">
                  <ion-button color="primary" size="full">Registruotis</ion-button>
                </ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <p>Arba registruokitės su:</p>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                  <ion-button size="large" fill="clear">
                    <ion-icon class="google" slot="icon-only" name="logo-google"></ion-icon>
                  </ion-button>
                  <ion-button size="large" fill="clear">
                    <ion-icon class="facebook" slot="icon-only" name="logo-facebook"></ion-icon>
                  </ion-button>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>