<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Darbuotojai
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <app-provider-not-activated *ngIf="!providerActivated"></app-provider-not-activated>
    <ion-item *ngFor="let worker of workers">
      <ion-label>
        <h2>{{ worker.firstName }} {{ worker.lastName }}</h2>
        <p>El. paštas: {{ worker.email }}</p>
        <p>Telefonas: {{ worker.phoneNumber }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openRegisterWorkerModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>