<ion-card *ngIf="provider">
  <ion-card-header>
    <ion-card-title>Teikėjo informacija</ion-card-title>
  </ion-card-header>
  <ion-card-content class="booking-form">
    <ion-item lines="none">
      <ion-label position="stacked">Aprašymas</ion-label>
      <ion-textarea rows="5" [(ngModel)]="provider.description"></ion-textarea>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Vieta</ion-label>
      <app-location-input style="width: 100%;" [inputLocation]="provider.location" (location)="setAddress($event)"></app-location-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Darbo atstumas, km</ion-label>
      <ion-input type="number" min="0" [(ngModel)]="provider.workingRange"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Bazinė kaina už valandą, </ion-label>
      <ion-input type="number" min="0" [(ngModel)]="provider.basePricePerHour"></ion-input>
    </ion-item>
      <ion-card class="ion-margin">
        <ion-card-header>
          <ion-card-title>Paslaugos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item-group>
            <ng-container *ngFor="let category of categories; let i=index">
              <ion-item-divider (click)="toggleCategory(category.id)">
                <ion-label>
                  {{category.name}}
                </ion-label>
                <ion-icon [name]="expandedCategories[category.id] ? 'chevron-up' : 'chevron-down'"></ion-icon>
              </ion-item-divider>
              <ng-container *ngIf="expandedCategories[category.id]">
                <ion-item>
                  <ion-checkbox (ionChange)="toggleCategoryServices(category, $event)"></ion-checkbox>
                  Visi
                </ion-item>
                <ion-item lines="none" *ngFor="let service of getServices(category)">
                  <ion-checkbox [(ngModel)]="selectedServices[service.id]"></ion-checkbox>
                  {{ service.name }}
                </ion-item>
              </ng-container>
            </ng-container>
          </ion-item-group>
        </ion-card-content>
      </ion-card>
    <ion-button expand="block" (click)="updateInformation()">Atnaujinti informaciją</ion-button>
  </ion-card-content>
  <ion-card *ngIf="existingProvider">
    <ion-card-header>
      <ion-card-title>Banko sąskaita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" [ngSwitch]="existingBankAccount">
        <ng-container *ngSwitchCase="true">
          <ion-label>
            <h3>{{provider.bankAccount}}</h3>
          </ion-label>
          <ion-button (click)="openBankAccountModal()">Pakeisti banko sąskaitą</ion-button>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <ion-button (click)="openBankAccountModal()">Pridėti banko sąskaitą</ion-button>
        </ng-container>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-card>