ion-label h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

ion-label p {
    font-size: 14px;
    margin-bottom: 0;
}

ion-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

ion-buttons {
    margin-right: 10px;
}

ion-button {
    font-size: 16px;
}

ion-button ion-icon {
    font-size: 28px;
}