.user {
  --background: none;
  --ion-color-base: #fff;
  --color: #333;
  cursor: pointer;
}

.user:hover {
  --ion-color-base: #eee;
}


.user h2 {
  font-size: 16px;
}

.dropdown {
  --background: #fff;
  --ion-color-base: #333;
  --color: #fff;
}

.dropdown ion-item {
  --background: none;
  --ion-color-base: #fff;
  --color: #333;
}