<ion-item lines="none" (click)="toggleDropdown()" class="ion-no-padding ion-item-height user">
  <ion-avatar slot="start">
    <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg">
  </ion-avatar>
  <ion-label class="ion-padding-start">
    <ng-container *ngIf="!user.companyName; else company">
      <h2 class="ion-text-wrap">{{user.firstName}} {{user.lastName}}</h2>
    </ng-container>
    <ng-template #company>
      <h2 class="ion-text-wrap">{{user.companyName}}</h2>
    </ng-template>
  </ion-label>
  <ion-icon slot="end" [name]="dropdownIcon"></ion-icon>
</ion-item>
<ion-list class="dropdown" *ngIf="isDropdownOpen" lines="none">
  <ion-item [routerLink]="['/profile']" routerLinkActive="selected">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-label>Profilis</ion-label>
  </ion-item>
  <ion-item (click)="logout()" routerLink>
    <ion-icon name="log-out" slot="start"></ion-icon>
    <ion-label>Atsijungti</ion-label>
  </ion-item>
</ion-list>