<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Užsakymas Nr. {{order?.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="order">
    <ion-row>
      <ion-col sizeXs="12" sizeMd="6">
        <h2>Užsakovas:</h2>
        <h3>{{order.client.firstName}} {{order.client.lastName}}</h3>
      </ion-col>
      <ion-col sizeSm="12" sizeMd="6">
        <h2>Darbuotojas:</h2>
        <h3>{{order.provider.firstName}} {{order.provider.lastName}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeMd="6">
        <h2>Adresas:</h2>
        <h3>{{orderAddress}}</h3>
      </ion-col>
      <ion-col sizeXs="6" sizeMd="3">
        <h2>Pradžios data:</h2>
        <h3>{{formatDate(order.startDate)}}</h3>
      </ion-col>
      <ion-col sizeXs="6" sizeMd="3">
        <h2>Pabaigos data:</h2>
        <h3>{{formatDate(order.endDate)}}</h3>
      </ion-col>
    </ion-row>
    <ion-row class="table-row">
      <ion-col size="12">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>Paslaugos</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <b>Pavadinimas</b>
            </ion-col>
            <ion-col size="3">
              <b>Valandų kiekis</b>
            </ion-col>
            <ion-col size="3">
              <b>Kaina</b>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let service of order.services" class="table-row">
            <ion-col size="6">{{service.service.name}}</ion-col>
            <ion-col size="3">{{service.hoursOfWork}}</ion-col>
            <ion-col size="3">{{service.price}}€</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <b>Iš viso</b>
            </ion-col>
            <ion-col size="3">
              <b>{{order.totalHoursOfWork}}</b>
            </ion-col>
            <ion-col size="3">
              <b>{{order.totalServicesPrice}}€</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2>Medžiagos</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <b>Pavadinimas</b>
            </ion-col>
            <ion-col size="3" offset="3">
              <b>Kaina</b>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let materialPrice of order.materialPrices" class="table-row">
            <ion-col size="6">{{materialPrice.name}}</ion-col>
            <ion-col size="3" offset="3">{{materialPrice.price}}€</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <b>Iš viso</b>
            </ion-col>
            <ion-col size="3" offset="3">
              <b>{{order.totalMaterialPrice}}€</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <h2>Iš viso:</h2>
            </ion-col>
            <ion-col size="3" offset="3">
              <h2>{{order.totalPrice}}€</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="order.additionalInformation">
      <ion-col size="12">
        <h2>Papildoma informacija:</h2>
        <p>{{order.additionalInformation}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="goToEdit()">
          Edit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>