<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/orders"></ion-back-button>
    </ion-buttons>
    <ion-title>Užsakymas Nr. {{order?.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid *ngIf="order">
        <ion-row>
          <ion-col sizeXs="12" sizeMd="6">
            <h1>Užsakovas:</h1>
            <h2>{{order.client.firstName}} {{order.client.lastName}}</h2>
            <h3>{{order.client.email}}</h3>
            <h3>{{order.client.phoneNumber}}</h3>
          </ion-col>
          <ion-col sizeSm="12" sizeMd="6">
            <h1>Teikėjas:</h1>
            <h2>
              <ng-container *ngIf="!order.provider.companyName; else company"> {{ order.provider.firstName }} {{
                order.provider.lastName }}</ng-container>
              <ng-template #company>{{order.provider.companyName}}</ng-template>
            </h2>
            <h3>{{order.provider.email}}</h3>
            <h3>{{order.provider.phoneNumber}}</h3>
            <ng-container *ngIf="order.worker">
              <h1>Paskirtas darbuotojas:</h1>
              <h2>{{ order.worker.firstName }} {{order.worker.lastName }}</h2>
              <h3>{{order.worker.email}}</h3>
              <h3>{{order.worker.phoneNumber}}</h3>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeMd="6">
            <h1>Adresas:</h1>
            <h2>{{orderAddress}}</h2>
          </ion-col>
          <ion-col sizeXs="6" sizeMd="3">
            <h1>Pradžios data:</h1>
            <h2>{{formatDate(order.startDate)}}</h2>
          </ion-col>
          <ion-col sizeXs="6" sizeMd="3">
            <h1>Pabaigos data:</h1>
            <h2>{{formatDate(order.endDate)}}</h2>
          </ion-col>
        </ion-row>
        <ion-row class="table-row">
          <ion-col size="12">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h1>Paslaugos</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <b>Pavadinimas</b>
                </ion-col>
                <ion-col size="3">
                  <b>Valandų kiekis</b>
                </ion-col>
                <ion-col size="3">
                  <b>Kaina</b>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let service of order.services" class="table-row">
                <ion-col size="6">{{service.service.name}}</ion-col>
                <ion-col size="3">{{service.hoursOfWork}}</ion-col>
                <ion-col size="3">{{service.price}}€</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <b>Iš viso</b>
                </ion-col>
                <ion-col size="3">
                  <b>{{order.totalHoursOfWork}}</b>
                </ion-col>
                <ion-col size="3">
                  <b>{{order.totalServicesPrice}}€</b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1>Medžiagos</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <b>Pavadinimas</b>
                </ion-col>
                <ion-col size="3" offset="3">
                  <b>Kaina</b>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let materialPrice of order.materialPrices" class="table-row">
                <ion-col size="6">{{materialPrice.name}}</ion-col>
                <ion-col size="3" offset="3">{{materialPrice.price}}€</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <b>Iš viso</b>
                </ion-col>
                <ion-col size="3" offset="3">
                  <b>{{order.totalMaterialPrice}}€</b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <h2>Iš viso:</h2>
                </ion-col>
                <ion-col size="3" offset="3">
                  <h2>{{order.totalPrice}}€</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="order.additionalInformation">
          <ion-col size="12">
            <h1>Papildoma informacija:</h1>
            <p>{{order.additionalInformation}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h1>Statusas: {{getBookingStatusInLithuanian()}}</h1>
          </ion-col>
          <ion-col size="12" *ngIf="order.status == 'Completed' || order.status == 'CancelledWithPartialPayment'">
            <h1>Apmokėjimo statusas: {{order.paid ? 'Apmokėta' : 'Neapmokėta'}}</h1>
          </ion-col>
        </ion-row>
        <ng-container *ngIf="providerLooking; else providerNotLooking" [ngSwitch]="order.status">
          <ion-row *ngSwitchCase="'Pending'">
            <ion-col size="12">
              <ion-button [routerLink]="['/orders', order.id, 'edit']">Pasiūlyti kainą</ion-button>
              <ion-button (click)="reject()">Atmesti</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="'InNegotiation'">
            <ion-col>
              <ion-button [routerLink]="['/orders', order.id, 'edit']">Pasiūlyti kainą</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="'Confirmed'">
            <ion-col>
              <ion-button [routerLink]="['/orders', order.id, 'edit']">Užbaigti darbą</ion-button>
              <ion-button (click)="openCancelOrderModal()">Atšaukti darbą</ion-button>
            </ion-col>
          </ion-row>
        </ng-container>
        <ng-template #providerNotLooking>
          <ion-row *ngIf="order.status == 'InNegotiation'" class="ion-justify-content-center">
            <ion-col size="6" class="ion-text-center">
              <ion-label color="danger">Dėmesio! Paspaudus mygtuką, sutinkate su paslaugos teikėjo terminais ir
                kaina.</ion-label><br />
              <ion-button (click)="acceptOffer()">Priimti pasiūlymą</ion-button>
              <ion-button color="danger" (click)="cancelOrder()">Atšaukti užklausą</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="(order.status == 'Completed' || order.status == 'CancelledWithPartialPayment')"
            class="ion-justify-content-center">
            <ion-col size="6" class="ion-text-center" *ngIf="!order.paid">
              <ion-button (click)="payOrder()">Apmokėti</ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-center" *ngIf="!order.review">
              <ion-button (click)="openAddReviewModal()">Pridėti įvertinimą</ion-button>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>