<ion-card *ngIf="user">
  <ion-card-header>
    <ion-card-title>Vartotojo informacija</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label position="stacked">El. paštas:</ion-label>
      <ion-text>{{user.email}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Vardas:</ion-label>
      <ion-text>{{user.firstName}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Pavardė:</ion-label>
      <ion-text>{{user.lastName}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Telefono numeris:</ion-label>
      <ion-text>{{user.phoneNumber}}</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>